.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.wrap {
	perspective: 800px;
    perspective-origin: 50% 100px;
}

.cube {
    position: relative;
	width: 200px;
    transform-style: preserve-3d;
  
}

.cube div {
    position: absolute;
	width: 200px;
    height: 200px;
    display: flex;
    font-family: 'Comfortaa', cursive;

}

.cube div:hover{
    background-color: rgba(52, 221, 243, 0.8);
}

.firstName {
    padding-right: 100px;
    font-size: 80px;
    font-family: 'Comfortaa', cursive;
}

.lastName {
    padding-left: 100px;
    font-size: 80px;
    font-family: 'Comfortaa', cursive;
}

.back {
    transform: translateZ(-100px) rotateY(180deg);
    background-color: rgba(243, 52, 52, 0.8);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    
}

.right {
	transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
    background-color: rgba(243, 52, 52, 0.8);
    border-radius: 50%;
    align-items: center;
    justify-content: center; 
    color: white;
    font-size: 20px;
}
.left {
	transform: rotateY(270deg) translateX(-100px);
    transform-origin: center left;
    background-color: rgba(243, 52, 52, 0.8);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.front {
    transform: translateZ(100px);
    background-color: rgba(243, 52, 52, 0.8);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}




@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(-360deg); }
}

.cube {
	animation: spin 5s infinite linear;
}


.menu{
    position: relative;
}
.menuwrap{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 75%;
    left: -467px;
}

.menuwrap a {
    padding-right: 36px;
    color: rgba(243, 52, 52, 0.8);
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    text-decoration: none;
    
}

a:hover {
    color: rgba(52, 221, 243, 0.8);
}

h2{
    font-size: 55px;
    font-family: 'Comfortaa', cursive;
    margin-left: 14%;
}

p{
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
    margin-left: 14%;
    margin-right: 14%;

}




.element-animation{
    animation: animationFrames ease 1s;javascript:;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: animationFrames ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
    -moz-animation: animationFrames ease 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: animationFrames ease 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: animationFrames ease 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
  }
  
  @keyframes animationFrames{
    0% {
      opacity:0;
      transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      transform:  translate(30px,0px)  ;
    }
    80% {
      transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      transform:  translate(-10px,0px)  ;
    }
  }
  
  @-moz-keyframes animationFrames{
    0% {
      opacity:0;
      -moz-transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      -moz-transform:  translate(30px,0px)  ;
    }
    80% {
      -moz-transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      -moz-transform:  translate(-10px,0px)  ;
    }
  }
  
  @-webkit-keyframes animationFrames {
    0% {
      opacity:0;
      -webkit-transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      -webkit-transform:  translate(30px,0px)  ;
    }
    80% {
      -webkit-transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      -webkit-transform:  translate(-10px,0px)  ;
    }
  }
  
  @-o-keyframes animationFrames {
    0% {
      opacity:0;
      -o-transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      -o-transform:  translate(30px,0px)  ;
    }
    80% {
      -o-transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      -o-transform:  translate(-10px,0px)  ;
    }
  }
  
  @-ms-keyframes animationFrames {
    0% {
      opacity:0;
      -ms-transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      -ms-transform:  translate(30px,0px)  ;
    }
    80% {
      -ms-transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      -ms-transform:  translate(-10px,0px)  ;
    }
  }


.footerClass{
    font-size: 16px;
}

img{
    width: 50px;
    height: 50px;
}



footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.12);
}

.footerWrap{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    padding-top: 10px;
}

.imageWrap{
    position: absolute;
    right: 12%;
}

.linkedIn:hover{
    content: url("images/linkedInRed.png");
}

.gitHub:hover{
    content: url("images/gitHubRed.png");
}

.intro {
    text-align: center;
    padding-top: 30px;
}


.slideIn{
    width: 1100px;
    height: 10px;
    background-color: rgba(243, 52, 52, 0.8);
    border: none;
    margin-top: 70px;
    animation: slideFrames ease-out 0.8s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: slideFrames ease-out 0.8s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
    -moz-animation: slideFrames ease-out 0.8s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: slideFrames ease-out 0.8s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: slideFrames ease-out 0.8s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
  }
  
  @keyframes slideFrames{
    0% {
      opacity:0;
      transform:  translate(264px,0px)  skewX(0deg) ;
    }
    66% {
      opacity:0.8396047064108125;
      transform:  translate(-91px,0px)  skewX(24deg) ;
    }
    100% {
      opacity:1;
      transform:  translate(0px,0px)  skewX(0deg) ;
    }
  }
  
  @-moz-keyframes slideFrames{
    0% {
      opacity:0;
      -moz-transform:  translate(264px,0px)  skewX(0deg) ;
    }
    66% {
      opacity:0.8396047064108125;
      -moz-transform:  translate(-91px,0px)  skewX(24deg) ;
    }
    100% {
      opacity:1;
      -moz-transform:  translate(0px,0px)  skewX(0deg) ;
    }
  }
  
  @-webkit-keyframes slideFrames {
    0% {
      opacity:0;
      -webkit-transform:  translate(264px,0px)  skewX(0deg) ;
    }
    66% {
      opacity:0.8396047064108125;
      -webkit-transform:  translate(-91px,0px)  skewX(24deg) ;
    }
    100% {
      opacity:1;
      -webkit-transform:  translate(0px,0px)  skewX(0deg) ;
    }
  }
  
  @-o-keyframes slideFrames {
    0% {
      opacity:0;
      -o-transform:  translate(264px,0px)  skewX(0deg) ;
    }
    66% {
      opacity:0.8396047064108125;
      -o-transform:  translate(-91px,0px)  skewX(24deg) ;
    }
    100% {
      opacity:1;
      -o-transform:  translate(0px,0px)  skewX(0deg) ;
    }
  }
  
  @-ms-keyframes slideFrames {
    0% {
      opacity:0;
      -ms-transform:  translate(264px,0px)  skewX(0deg) ;
    }
    66% {
      opacity:0.8396047064108125;
      -ms-transform:  translate(-91px,0px)  skewX(24deg) ;
    }
    100% {
      opacity:1;
      -ms-transform:  translate(0px,0px)  skewX(0deg) ;
    }
  }


@media screen and (max-width: 480px){
    .firstName{
        font-size:24px;
    }
    .lastName{
        font-size:24px;
    }
    
}